<app-menu-tittle></app-menu-tittle>
<div class="container__articles">
    <div class="articles-main">
        <app-big-card
                      id="1"
                      photoCover="https://e0.pxfuel.com/wallpapers/268/852/desktop-wallpaper-omegamon-android-omnimon.jpg"
                      cardTittle="Omegamon"
                      cardDescription="Seu proximo passo sera o Omegamon X. Necessário realização das quests para obtenção do alpha factory"
        ></app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card
            Id="2"
            photoCover="https://pbs.twimg.com/media/GK5aPk0akAAXIcw.jpg:large"
            cardTittle="Alter B"
        ></app-small-card>        
        
        <app-small-card
            Id="3"
            photoCover="https://pbs.twimg.com/media/GK5aPk0akAAXIcw.jpg:large"
            cardTittle="Alter B"
        ></app-small-card>  

        <app-small-card
            Id="4"
            photoCover="https://pbs.twimg.com/media/GK5aPk0akAAXIcw.jpg:large"
            cardTittle="Alter B"
        ></app-small-card>  

    </div>
</div>